body
  padding-top: 80px;

span.margin-right
  margin-right: 10px;

textarea.messages
  height 346px
  width 704px

ul.users
  list-style: none;
  overflow: auto;
  height: 346px;

#chatroom
  clear:both;

.sub-container
  height:500px;

ul.noindent
  margin: 0;
  padding: 0;
