body
  padding-top: 80px;

span.margin-right
  margin-right: 10px;

.messages
  background-color: white;
  height 346px
  width 704px
  list-style: none

.msg
  color: black
  margin-left: 5px

ul.users
  list-style: none;
  overflow: auto
  height: 346px

#chatroom
  clear:both

.sub-container
  height:500px

ul.noindent
  margin: 0
  padding: 0

span.name
  margin-right: 10px
